
*{
    margin: 0;
    padding: 0;
}
#menu{background-color:lightslategray;}
.login
{
    width: 100%;
    background-color: lightgray;
    height: 600px;
    
}
h1{
    text-align: center;
}
.box
{
    width: 400px;
    height: 250px;
    border-style: solid;
    border-color: black;
    margin: auto;
}
.box input[type="text"],input[type="password"]{
    width: 270px;
    height: 30px;
    margin: 5px 55px 5px 55px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.box input[type="submit"]{
    width: 80px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 160px;
    border-color: black;
}