
body{
    background-color:gray;
}
 
#menu{background-color:lightslategray;}
.baslik{
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

h3{
    font-size: 20px;
}
h5{
    color: red;
    font-size: 20;
}
.mySlides {display:none;}
